.card {
  max-width: 100%;
}
.servicesText.card {
  width: 100%;
  padding: 10px;
  height: 280px;
  cursor: pointer;
  overflow-y: auto;
}
.servicesIcon {
  font-size: 24px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: red;
}
.servicesText:hover {
  border: 1px solid red;
}
