.services {
  padding: 20px;
}

.card {
  max-width: 100%;
}
.servicesText.card {
  height: 280px;
  cursor: pointer;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.servicesIcon {
  font-size: 24px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: red;
}
.servicesText:hover {
  border: 1px solid red;
}
